* {
  font-family: ComicCodeLigatures Nerd Font;
  font-size: 14px;
  font-weight: 500;
  color: #ebdbb2;
  border-color: #928374;
  background-color: #282828;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

/* geometry */

#user,
#workspaces,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#backlight,
#battery,
#clock,
#tray {
  margin-top: 8px;
  border-width: 3px;
  border-style: solid;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
}

#user {
  margin-left: 16px;
  padding-left: 12px;
  border-radius: 16px 0 0 16px; 
}

#workspaces {
  margin-left: 4px;
  padding-right: 12px;
  border-radius: 0 16px 16px 0; 
}

#pulseaudio {
  margin-right: 4px;
  padding-left: 12px;
  border-radius: 16px 0 0 16px; 
}

#network,
#cpu,
#memory,
#disk,
#backlight,
#battery,
#clock {
  margin-right: 4px;
  border-radius: 0 0 0 0; 
}

#tray {
  margin-right: 16px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 0 16px 16px 0; 
}
